<section id="Model-profile" class="p-5">
  <div class="row container h-100 mx-auto p-0">
    <!-- left side -->
    <div id="leftAside" class="d-flex flex-column justify-content-center col-md-3 col-xs-12 pl-5">
      <h2 class="Model-name text-uppercase pb-2">sara fraizer</h2>
      <ul class="p-0">
        <li class="py-1">
          <span class="pr-2">Gucci</span>
          <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon><span>17</span>
        </li>
        <li class="py-1">
          <span class="pr-2">door</span>
          <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon><span>11</span>
        </li>
        <li class="py-1">
          <span class="pr-2">kwalambor</span>
          <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon><span>20</span>
        </li>
        <li class="py-1">
          <span class="pr-2">channel</span>
          <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon><span>13</span>
        </li>
        <li class="py-1">
          <span class="pr-2">OTHERS</span>
          <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon><span>19</span>
        </li>
      </ul>
    </div>
    <!-- end left side -->

    <!-- right content -->
    <div id="Model-explo" class="position-relative col-md-9 col-xs-12 p-0">
      <!-- slider -->
      <div id="model-slider" class="carousel slide col-sm-12 row h-100 p-0 m-0" data-ride="carousel">
        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item h-100 active">
            <div class="col-sm-12 row h-100 p-0 m-0">
              <div class="Model-pic position-relative col-md-8 col-sm-12"></div>
              <div class="Model-name-mobile position-absolute animated zoomIn delay-6s w-50">
                <h1 class="text-uppercase p-3">sara frazier</h1>
              </div>
              <div class="Model--show d-flex flex-column justify-content-center col-md-4 col-sm-12  pr-5">
                <h2 class="Model-sectit text-uppercase pb-2">wardrobe 64items</h2>
                <span>Explore</span>
                <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
              </div>
            </div>
          </div>
          <!-- end first slide -->

          <!-- sec slide -->
          <div class="carousel-item h-100">
            <div class="col-sm-12 row h-100 p-5 m-0">

              <div class="col-md-4 col-sm-12 mt-5 pl-0">
                <div class="model-item1 position-relative h-50 mt-5"><span class="p-4">$565.88</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pt-5 pl-4">
                <div class="model-item2 position-relative h-50 mt-5"><span class="p-4">$56.18</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pt-5 pl-5">
                <div class="model-item3 position-relative h-50 mt-5"><span class="p-4">$89.68</span></div>
              </div>

            </div>
          </div>
          <!-- end sec slide -->

          <!-- third slide -->
          <div class="carousel-item h-100">
            <div class="col-sm-12 row h-100 p-5 m-0">

              <div class="col-md-4 col-sm-12 mt-5 pt-5 pr-0">
                <div class="model-item4 position-relative h-50 mt-5"><span class="p-4">$56.18</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pt-5 pl-4">
                <div class="model-item5 position-relative h-50 mt-5"><span class="p-4">$89.68</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pl-4">
                <div class="model-item6 position-relative h-50 mt-5"><span class="p-4">$565.88</span></div>
              </div>

            </div>
          </div>
          <!-- end third slide -->

          <!-- four slide -->
          <div class="carousel-item h-100">
            <div class="col-sm-12 row h-100 p-5 m-0">

              <div class="col-md-4 col-sm-12 mt-5 p-0">
                <div class="model-item7 position-relative h-50 mt-0"><span class="p-4">$56.18</span></div>
                <div class="model-item8 position-relative h-50 mt-3"><span class="p-4">$56.18</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pt-5 pl-2">
                <div class="model-item9 position-relative h-50 mt-5"><span class="p-4">$89.68</span></div>
              </div>

              <div class="col-md-4 col-sm-12 mt-5 pl-4">
                <div class="model-item10 position-relative h-50 mt-5"><span class="p-4">$565.88</span></div>
              </div>

            </div>
          </div>
          <!-- end four slide -->

        </div>


        <!-- arrow of slider -->
        <a class="pt-5 carousel-control-prev" href="#model-slider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">PREVIOUS</span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="pt-5 carousel-control-next" href="#model-slider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">NEXT</span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end slider -->
      <div class="follow-btn position-absolute">
        <span>FOLLOW SARA<fa-icon [icon]="['fas', 'window-minimize']"></fa-icon></span><span class="pr-5">17</span>
        <span class="pl-5 btn-follow">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </span>
      </div>
    </div>
    <!-- end right content -->

  </div>
</section>

<!--============================= when click on item zoom it=================================  -->

<section id="zoomTo-profile" class="p-5">
  <div class="row container h-100 mx-auto p-0 position-relative">

    <!-- left content -->
    <div id="Item-explo" class="position-relative col-md-9 col-xs-12 p-0">
      <span class="info text-white p-5 position-absolute">INFO</span>
      <span class="back text-white p-5 position-absolute"><- BACK </span> 
        
        <div class="overlay position-absolute col-sm-12 row align-items-center h-100 m-0">
            <p class="close text-right mb-5 pt-0 pr-5"> X </p>
          <div class="m-auto w-75">            
            <div class="row col-md-12">
              <p class="det-title">COLOR</p>
              <p class="text-white">WHITE</p>
            </div>
            <div class="row col-md-12">
              <div class="col-md-2 p-0">
                <p class="det-title ">LENGTH</p>
                <p class="text-white ">18CM</p>
              </div>
              <div class="col-md-2 p-0">
                <p class="det-title ">DIMENSION</p>
                <p class="text-white ">4.2 CM</p>
              </div>
              <div class="col-md-2 p-0">
                <p class="det-title ">DORAS</p>
                <p class="text-white ">1.1 CM</p>
              </div>
              <div class="col-md-2 p-0">
                <p class="det-title ">TROUS</p>
                <p class="text-white ">2 CM </p>
              </div>
            </div>
            <div class="row col-md-12">
              <p class="det-title ">MATERIALS</p>
              <p class="text-white ">DIAMOND , STANGRAY , STANLESS STEAL</p>
            </div>

            <div class="row col-md-12 mt-3">
                <p class="det-title ">CONTACTS</p>
                <p class="text-white contacts-info"> 
                  <span class="pr-3">FACEBOOK</span> <span class="pr-3">TWITTER</span> <span class="pr-3">E-MAIL</span> <span class="pr-3">INSTGRAM</span>
                </p>
              </div>
          </div>
    </div>
  </div>

  <!-- end left content -->


  <!-- right side -->
  <div id="rightAside" class="d-flex flex-column justify-content-center col-md-3 col-xs-12 pl-4 pr-5">
    <h2 class="Model-name text-uppercase pb-2">clue diamond watch</h2>
    <h4 class="text-uppercase pt-2 mt-3">$260.273</h4>

  </div>
  <!-- end right side -->
  <div class="follow-btn position-absolute">
    <span>ADD TO MY FAVOURIT<fa-icon [icon]="['fas', 'window-minimize']"></fa-icon></span><span class="pr-5">17</span>
    <span class="pl-5 btn-follow">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </span>
  </div>

  </div>
</section>
