//variavles
$fontKaushan: 'Kaushan Script', cursive;
$fontRaleway: 'Raleway', sans-serif;
$fontLato: 'Lato', sans-serif;

//var colors
$main-color:#fbc26d;
$sec-color:#eaeaf1;
$footer-bg-color:#313234;
$copyright-color:#242424;
$white-color:#fefefe;
$title-first-sec:#303133;
$text-muted:#9da4ab;
$box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);


%Line-after
{
    content: " ";
    position: absolute;
    margin: -7px 0;
    width: 35px;
    bottom:0;
    left: 0;
    border-top: 1px solid $main-color;
}

%btn
{
    background-color:$main-color;
    font-family: $fontRaleway;
    font-size: 13px;
    border-radius: 0;
        &:focus{
                border-color: $main-color;
                box-shadow:$box-shadow;
            }
}