@import "../SharedStyle.scss";

/*======= for pop up screen show product========*/

#zoomTo-profile {
    @extend %models-common;
  
    #Item-explo {
      background: {
          image: url("../../assets/11.jpg");
          size: cover;
          position: center;
        }
        border-radius: 27px 0 0 27px;
        .info
        {
          right: 0;  
          @extend %info-back-btn;      
        }
  
        .back
        {
          left: 0;
          @extend %info-back-btn;
        }
  
        .overlay
        {
            display: none;
          font-family: $fontStaatliches;
          transition-duration: 0.5s;
          font-size: 30px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.94);
            opacity: 0.9;          
            border-radius: 27px 0 0 27px;
  
            .det-title
            {
                color: #5f5a5a;
                font-size: 13px;
                width: inherit;
            }
            .close
            {
              color: #5f5a5a;
              font-size: 30px;
              width: inherit;
              &:hover
              {
                  color: $main-color;
              }
            }
            .contacts-info
            {
              font-size: 15px;
              font-family: $fontOswald;
            }
        }
    }
  
  
  #rightAside
    {
        .Model-name{
            @extend %Model-name;
        }
      
    }
  
    .follow-btn {
      @extend %follow-btn;
      background-color: $splited-color;
    }
  }
  