/* You can add global styles to this file, and also import other style files */
body{
    font-family:'Raleway', sans-serif;
    box-sizing: border-box;
}

/* to display font even if no internet connection */
 @font-face {
  font-family: "Staatliches";
  src: url("assets/Fonts/Staatliches-Regular.ttf") format("truetype");
 }

 @font-face {
    font-family: "Oswald-SemiBold";
    src: url("assets/Fonts/Oswald-SemiBold.ttf") format("truetype");
   }