<main class="container-fluid p-0">
<section id="sec-home">
  <!-- navBar -->
  <app-header></app-header>

  <!-- content on sec home -->
  <div class="sec-home-bg float-right"></div>
  <div class="clearFix"></div>
  <div class="container">
    <div class="row">
        <article class="col-xs-12 text-center h-100 d-flex justify-content-center flex-column align-items-center">
            <p class="m-0">Welcome To</p>
            <h1 class="text-uppercase">Fashion clct</h1>
            <p>Your personal guide to the world of fashion.A tool
                that will help you find your unique style.                
                We were approached by a client with a request to create an MVP service that
                helps users follow wardrobe selection of fashion models and trendsetters.
                We created a clean and minimalistic, as well as developed and interesting throught structure.</p>
        <button class="btn w-25 animated bounceIn delay-2s">VIEW</button>
        </article>
    </div>
</div>

</section>
</main>
